# Frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env
backend/media/
backend/static/
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
venv/
.env