body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* cache le panneau d'instructions de leaflet-routing-machine */
.leaflet-routing-container,
.leaflet-routing-container-hide, 
.leaflet-routing-itinerary,
.leaflet-routing-alt {
  display: none !important;
}
